body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(208, 235, 217);
}

#container {
    display: flex;
    flex-direction: row;


}

#dayBox {
    background-color: rgb(227, 241, 232);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#iconImg {
    background-color: rgb(175, 196, 182);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}